{% extends 'base.html' %} 
{% load static %} 

{% block title %}Register Doctor{% endblock title %}  

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="../static/css/doctor_register.css">
{% endblock stylesheet %}

{% block body %}
<div class="wrapper1">
    <div class="container1">
        <h2>Registration Form</h2>
        <form action="/doctor/register" method = "POST" >
            <input type="text" placeholder="First Name" id="firstname" name="first_name" required>
            <input type="text" placeholder="Last Name" id="lastname" name="last_name" required>
            <input type="text" placeholder="Username" name="username" required>
            <input type="password" placeholder="Password" id="password" name="password" required>
            <!-- <input type="number" placeholder="Age" id="age" name="age" required> -->
            <input type="email" placeholder="Email" id="email" name="email" required>
            <!-- <label for="isDoctor" class="label1">Are you a doctor ?</label> -->
            <!-- <input type="checkbox" id="isDoctor" name="isDoctor" onclick="toggleExtraFields()"> -->
            <input type="tel" placeholder="Phone Number" id="phone" name="phone" required
                pattern="[0-9]*" inputmode="numeric">
            <input type="text" placeholder="Specialty" id="specialty" name="speciality">
            <input type="text" placeholder="Location" id="location" name="location" required>
            <input type="submit" value="Register">
        </form>
    </div>
</div>

<script>
    if("{{alert}}"){
        alert("{{alert}}")
    }
</script>
{% endblock body %} 